version: '3'
services:
  shop_api:
    build:
      context: .
    command: sh -c "python manage.py runserver 0.0.0.0:8000"
    ports:
      - "8002:8000"
    depends_on:
      - shop_data
  shop_data:
    image: 'postgres:14'
    environment:
      POSTGRES_DB: shop_api_data
      POSTGRES_USER: user_nazik
      POSTGRES_PASSWORD: 123456
    volumes:
      - 'shop-db:/var/lib/postgresql/data'
volumes:
  shop-db:

